.home-container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url(../assets/home/bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}