.navbar 
{
    width: 100%;
    background: #21325e;

}
.navbar .links
{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.navbar .links a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}